För VG på kursen så ska du ha VG på tentan och en av inlämningarna. 

Versaler eller gemener på nyckelord spelar ingen roll.

# Kort genomgång av SQL

## Relationsdatabaser

- En databas är en samling information som är organiserad för att man enkelt ska kunna söka och ändra ensilda delar av informaitonen
- en databashanterare (DBMS) är den mkjukvara som används för att söka och manipulera data i en specifik typ av databas
- det finns olika sorters databasesr. Vi kommer fokusera på den kategori som kallas relationsdatabaser, som är väldigt vanliga
- relationsdatabaser lagrar data i tabellform och ofta är det relationerna mellan olika tabeller som är det mest intressanta. Därav namnet relationsdatabas. 

Git är en databas och ganska typisk sådan, förändringar till databasen är det som sparas. Att söka efter innehåll i en DB är oftast vektoriserade databaser som är typiska för ML, ska kunna söka i text väldigt snabbt, bra för LLM.

## Structured Query Language (SQL)

- SQL är ett standardiserat programspråk (nja) för att hämta och modifiera data i relationsdatabser (RDBMS). 
- språket utvecklades först av IBM under 70-taöet
- SQL uttalas antingen SQL eller Sequel. 
- olika databashanterare (t ex Oracle, Postgres och MySQL) använder olika dialekter av SQL. Variationerna är dock oftast relativt små. Oracle är inte den mest använda utan den med mest fel - det finns ju en väldigt lång historia pga gammalt bolag. Myndigheter har oftast Oracle-databaser, t ex USA. Väldigt speciell, inget annat fungerar liknande. Medan de flesta utvecklare 
- i denna och kommande lektioner använder vi T-SQL som är den variant smo Microsoft använder i sin SQL-server. Pga performance.

## Queries

- för att hämta ut elle ändra information i en relationsdatabas skciar man så kallade queries till databashanteraren (servern)
- en query kan vara allt från väldigt simpel ("ge mig all data i tabell xyz") till väldigt komplex (du kan bygga upp ett featurespace i databsen)
- i denna leltion kollar vi på några av de vanligaste uttryck man använder i SQL för att plocka ut data från en tabell.

### Select (kommando)

När vi vill hämta och visa data från en tabell använder vi SELECT. 

SELECT id, username, password FROM users;

Semikolon är vad som skiljer olika queries. Den ordningen vi refererar till är den ordningen vi får ut. * kan användas för att ta ut alla kolumner i en tabell. Select är det vanligaste kommandot och går att göra mer komplexa.

### TOP x *

Man vill i princip aldrig be om all data (*) pga databaserna är oftast väldigt stora. Ett sätt att begränsa antal rader är genom TOP x som begränsar reultatet till x rader (gäller bara T-SQL). 

SELECT TOP 10 * FROM USERS; 

I de andra säger vi limit efteråt.

### WHERE

Ett annat sätt att begränsa är att bara be om rader som amtchar ett givet villkor. Detta gör vi med WHERE: 

SELECT * FROM USERS WHERE username="Fredrik";

### Logiska operationer

SELECT * from cities where country = "Sweden" and population < 10000;
samma med or, not eller "skiljt från" som vi skriver <>

går också att använda in

select * from cities where country in ("Sweden", "Norway", "Denmark")

### Between

Fungerar ungefär som Python slices för att ange ett spann av värden. 

Select * from users where id between 18 and 24

Går med siffror, bokstäver, tidstämplar och liknande.

### like

Väldigt olika beroende på databashanterare. Används när vi vill matcha textfält mot ett specifikt mönster: t ex alla textfält som börjar med "B". Det går att använda reguljära uttryck. 

select * from cities where city like "[a-f]%[^0-9]";
select * from cities where country not like "%land%";

### Order by

Sortera resyltatet på en eller flera kolumner. 

select * from people order by lastname, firstname;

Efter varje kolumn vi sorterar på så kan vi lägga till "asc" för att få ascending och vice versa.

### distinct

Få ut unika värden. T ex om vi vill få ut ett set, utan dubbletter. 

select distinct country from cities;

### alias

Används för att referera till kolumner med ett annat namn. 

select id, username as user, password as key from users;

Ett typiskt fall är när vi har kolumner med snarlika namn, kommer från olika sajter t ex och ska merga så kan det vara bra med alias. Ungefär som när vi importerar något i Python, pandas as pd.

### union

Slå ihop resultat från flera queries till ett enda. Då måste frågorna matcha. 

select stad as "city", [invånare] as "population" from SvenskaOrter
union all
select city, population from UScities;

Med union blir det inga dubbletter, union all tar med dubbletter.

### case when

Med case-when kan vi välja att visa värden beroende på villkor. 

select
   city,
   case
      when population < 1500 then "village"
      when population < 50000 then "city"
      else "city"
   end as "classification"
from UScities

### mer än bara select

- lägga till, uppdatera och ta bort rader i tabeller
- skapa och ta bort tabeller och så kallade vyer
- plocka ut data på aggregerad nivå
- korsreferera data från flera tabeller
- mm

# SQL install

SQL Server system administrator password: D@tabases